<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diagnóstico</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
    .container {
      text-align: center;
      width: 90%;
    }
    .header {
      background-color: #256490;
      color: white;
      padding: 1em;
      font-size: 2.5em;
      margin-bottom: 20px;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 100%;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
    }
    .content {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 10px;
      width: 100%;
      max-width: 600px;
    }
    .details h2 {
      color: #256490;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    .details ol {
      text-align: left;
      padding-left: 20px;
    }
    .details ol li {
      list-style-type: none;
      counter-increment: step-counter;
      margin-bottom: 10px;
    }
    .details ol li:before {
      content: counter(step-counter);
      background-color: #256490;
      color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: inline-block;
      margin-right: 10px;
    }
    .details p {
      font-size: 1em;
      margin: 10px 0;
    }
    .patients-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 600px;
      margin-top: 20px;
    }
    .patient-item {
      background-color: #709795;
      color: white;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      text-align: left;
      cursor: pointer;
    }
    .start-button {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #256490;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    .add-patient-button {
      background-color: #256490;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      margin-top: 20px;
      font-size: 1em;
    }
    .modal-header {
      background-color: #256490;
      color: white;
    }
    .modal-content {
      border-radius: 15px;
    }
    .modal-body {
      background-color: #256490;
      color: white;
      padding: 20px;
      border-radius: 15px;
    }
    .form-control {
      background-color: #FFFFFF;
      color: #256490;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .form-control::placeholder {
      color: #256490;
    }
    .btn-primary {
      background-color: #709795;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">Diagnóstico</div>
    <div class="content">
      <div class="details">
        <h2>¿Qué es una evaluación de la deglución a pie de cama?</h2>
        <ol>
          <li>El paciente se sienta erguido en una cama o silla.</li>
          <li>El profesional de la salud puede hacerle preguntas sobre sus síntomas y por cuánto tiempo ha tenido problemas para tragar. Tal vez le pida que haga ciertos movimientos, como cerrar los labios o hacer sobresalir la mandíbula.</li>
          <li>Le dará diferentes alimentos y bebidas para tragar, como agua y otros líquidos, además de alimentos blandos y sólidos.</li>
          <li>Por último, es posible que el fonoaudiólogo le pida al paciente que trague distintas sustancias. Pueden variar de agua a líquidos más espesos, alimentos en puré y hasta alimentos comunes. Se observará si tiene problemas para masticar, tragar o respirar.</li>
        </ol>
      </div>
      <div class="patients-list">
        <h3>Seleccione un paciente para comenzar el diagnóstico:</h3>
        <% @patients.each_with_index do |patient, index| %>
          <div class="patient-item" data-number="<%= index + 1 %>">
            <%= link_to patient.name, new_patient_diagnosis_path(patient_id: patient.id), class: "patient-link" %>
          </div>
        <% end %>
        <button type="button" class="add-patient-button" data-toggle="modal" data-target="#newPatientModal">
          Agregar Nuevo Paciente
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="newPatientModal" tabindex="-1" role="dialog" aria-labelledby="newPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newPatientModalLabel">Agregar Nuevo Paciente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <%= form_with(model: Patient.new, local: true, url: patients_path) do |form| %>
            <div class="field">
              <%= form.label :name, "Nombre" %>
              <%= form.text_field :name, class: 'form-control' %>
            </div>
            <div class="field">
              <%= form.label :rut, "RUT" %>
              <%= form.text_field :rut, class: 'form-control' %>
            </div>
            <div class="field">
              <%= form.label :birthdate, "Fecha de Nacimiento" %>
              <%= form.date_select :birthdate, start_year: 1924, end_year: Date.current.year, prompt: { day: 'Día', month: 'Mes', year: 'Año' }, class: 'form-control' %>
            </div>
            <div class="field">
              <%= form.label :sex, "Sexo" %>
              <%= form.select :sex, ['Masculino', 'Femenino', 'Otro'], prompt: '', class: 'form-control' %>
            </div>
            <div class="field">
              <%= form.label :email, "Email" %>
              <%= form.email_field :email, class: 'form-control' %>
            </div>
            <div class="actions">
              <%= form.submit "Guardar", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
  // Esperar a que la página esté completamente cargada
  document.addEventListener("DOMContentLoaded", function() {
    // Escuchar el evento 'ajax:success' en el formulario
    document.querySelector("#new_patient_form").addEventListener("ajax:success", function(event) {
      // Cerrar el modal
      $("#newPatientModal").modal("hide");
      // Reiniciar el formulario (opcional)
      this.reset();
    });
  });
</script>
</body>
</html>





