<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú</title>
  <style>
    body {
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
    .container {
      text-align: center;
      width: 100%;
    }
    .header {
      background-color: #256490;
      color: white;
      padding: 1em;
      font-size: 2.5em;
      margin-bottom: 20px;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 100%;
      text-align: center;
      top: 0;
      left: 0;
      position: fixed;
    }
    .content {
      margin-top: 150px; /* Ajusta el margen superior según sea necesario */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 450px;
      height: 80px;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      margin: 10px 0;
      text-decoration: none;
      border-radius: 30px;
      background-color: #709795;
      color: white;
      padding-left: 20px;
    }
    .btn img {
      margin-right: 10px;
      width: 50px;
      height: auto;
    }
    .btn-escala {
      background-color: #A8BDBC;
    }
    .btn-degluconversor {
      background-color: #B5B0C9;
    }
    .btn-diagnostico {
      background-color: #256490;
    }
    .btn-pacientes {
      background-color: #709795;
    }
    .btn-comenzar {
      background-color: #FFFFFF;
      color: #256490;
      padding: 0.5em 1em;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      border-radius: 15px;
      text-decoration: none;
      display: inline-block;
      margin: 10px 0; /* Añadir margen vertical */
    }
    .btn-comenzar:hover {
      background-color: #709795;
      color: white;
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
      padding-top: 60px;
    }
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 700px;
      border-radius: 10px;
      text-align: left;
    }
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">Menú de Inicio</div>
    <div class="content">
      <%= link_to escalas_path, class: 'btn btn-escala' do %>
        <img src="<%= asset_path('logoescalas.png') %>" alt="Escalas Logo">Escalas
      <% end %>
      <%= link_to degluconversor_path, class: 'btn btn-degluconversor' do %>
        <img src="<%= asset_path('logodegluconversor.png') %>" alt="Degluconversor Logo">Conversión de escalas de severidad
      <% end %>
      <%= link_to diagnoses_path, class: 'btn btn-diagnostico' do %>
        <img src="<%= asset_path('logodiagnostico.png') %>" alt="Diagnóstico Logo">Evaluación clínica
      <% end %>
      <%= link_to mispacientes_path, class: 'btn btn-pacientes' do %>
        <img src="<%= asset_path('logomispaciente.png') %>" alt="Mis Pacientes Logo">Mis Pacientes
      <% end %>
      <button id="bibliografiaBtn" class="btn-comenzar">Bibliografía</button>
      <%= button_to(
        "Cerrar sesión",
        destroy_user_session_path,
        method: :delete,
        class: 'btn-comenzar'
      ) %>
    </div>
  </div>

  <!-- El Modal -->
  <div id="bibliografiaModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Bibliografía</h2>
      <p>Prieto, S. B. (2019). <i>Escalas de severidad de la disfagia: Importancia de su uso en logopedia</i>. Universidad de Valladolid.</p>
      <p>Edu.co. (s.f.). <i>Tamizaje de la deglución</i>. Recuperado el 18 de junio de 2024, de <a href="https://www.fumc.edu.co/documentos/investigacion/tamizajedeladeglucion.pdf" target="_blank">https://www.fumc.edu.co/documentos/investigacion/tamizajedeladeglucion.pdf</a></p>
      <p>Movander, K., Palmquist, T. L., Hägglund, P., y Bergström, L. (2023). Translation, and validation of Dysphagia Outcome and Severity Scale (DOSS): Swedish version. BMC Research Notes, 16(1). <a href="https://doi.org/10.1186/s13104-023-06637-z" target="_blank">https://doi.org/10.1186/s13104-023-06637-z</a></p>
    </div>
  </div>

  <script>
    // Obtener el modal
    var modal = document.getElementById("bibliografiaModal");

    // Obtener el botón que abre el modal
    var btn = document.getElementById("bibliografiaBtn");

    // Obtener el <span> que cierra el modal
    var span = document.getElementsByClassName("close")[0];

    // Cuando el usuario haga clic en el botón, abrir el modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // Cuando el usuario haga clic en <span> (x), cerrar el modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // Cuando el usuario haga clic en cualquier lugar fuera del modal, cerrarlo
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</body>
</html>
