<%= form_with(model: @patient, local: true) do |form| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> impidieron guardar el paciente:</h2>
      <ul>
        <% @patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="header">Nuevo Paciente</div>

    <div class="field">
      <%= form.label :name, "Ingresa el nombre de tu paciente:" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :rut, "Ingresa el RUT de tu paciente:" %>
      <%= form.text_field :rut %>
    </div>

    <div class="field">
      <%= form.label :birthdate, "Ingresa la fecha de nacimiento de tu paciente:" %>
      <%= form.date_select :birthdate, start_year: 1924, end_year: Date.current.year, prompt: { day: 'Día', month: 'Mes', year: 'Año' } %>
    </div>

    <div class="field">
      <%= form.label :sex, "Selecciona el sexo de tu paciente:" %>
      <%= form.select :sex, ['Masculino', 'Femenino', 'Otro'], prompt: '' %>
    </div>

    <div class="field">
      <%= form.label :email, "Ingresa el email de tu paciente:" %>
      <%= form.email_field :email %>
    </div>

    <div class="actions">
      <%= form.submit "Guardar", class: 'btn' %>
    </div>
<% end %>







