<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Paciente</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #256490;
      color: #FFFFFF;
      font-family: 'Arial', sans-serif;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
    }
    .container {
      margin-top: 50px;
      width: 80%;
      background-color: #FFFFFF;
      color: #256490;
      padding: 20px;
      border-radius: 10px;
    }
    .header {
      font-size: 2.5em;
      margin-bottom: 30px;
    }
    .detail-item {
      margin-bottom: 10px;
    }
    .btn-custom {
      background-color: #256490;
      color: #FFFFFF;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1em;
      margin-bottom: 10px;
    }
    .level-text {
      color: #800080; /* Color lila */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">Detalles del Paciente</div>
    <div class="detail-item"><strong>Nombre:</strong> <%= @patient.name %></div>
    <div class="detail-item"><strong>RUT:</strong> <%= @patient.rut %></div>
    <div class="detail-item"><strong>Fecha de Nacimiento:</strong> <%= @patient.birthdate %></div>
    <div class="detail-item"><strong>Sexo:</strong> <%= @patient.sex %></div>
    <div class="detail-item"><strong>Email:</strong> <%= @patient.email %></div>
    
    <h4>Diagnósticos</h4>
    <div class="diagnosis-buttons">
      <% @patient.diagnoses.each_with_index do |diagnosis, index| %>
        <!-- Botón para abrir el modal -->
        <button type="button" class="btn btn-custom diagnosis-btn" data-toggle="modal" data-target="#diagnosisModal<%= index %>">
          Diagnóstico - <%= diagnosis.date %>
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="diagnosisModal<%= index %>" tabindex="-1" aria-labelledby="diagnosisModalLabel<%= index %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="diagnosisModalLabel<%= index %>">Detalles del Diagnóstico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="detail-item"><strong>Fecha:</strong> <%= diagnosis.date %></div>
                <% if diagnosis.description.present? %>
                  <div class="detail-item"><strong>Descripción:</strong> <%= diagnosis.description %></div>
                <% end %>
                <% if diagnosis.levels.present? %>
                    <% diagnosis.levels.each do |level| %>
                        <div class="detail-item level-text"><strong>Escala:</strong> <%= level.escala %></div>
                        <div class="detail-item level-text"><strong>Severidad:</strong> <%= level.severidad %></div>
                    <% end %>
                <% end %>

                <% if diagnosis.historia_desde.present? %>
                  <div class="detail-item"><strong>Historia Desde:</strong> <%= diagnosis.historia_desde %></div>
                <% end %>
                <% if diagnosis.perdida_peso.present? %>
                  <div class="detail-item"><strong>Pérdida de Peso:</strong> <%= diagnosis.perdida_peso %></div>
                <% end %>
                <% if diagnosis.historia_condicion.present? %>
                  <div class="detail-item"><strong>Historia de Condición:</strong> <%= diagnosis.historia_condicion %></div>
                <% end %>
                <% if diagnosis.historia_cirugia.present? %>
                  <div class="detail-item"><strong>Historia de Cirugía:</strong> <%= diagnosis.historia_cirugia %></div>
                <% end %>
                <% if diagnosis.sintomas_episodios.present? %>
                  <div class="detail-item"><strong>Episodios de Atragantamiento o Tos:</strong> <%= diagnosis.sintomas_episodios %></div>
                <% end %>
                <% if diagnosis.sintomas_dificultad.present? %>
                  <div class="detail-item"><strong>Dificultad para Tragar:</strong> <%= diagnosis.sintomas_dificultad %></div>
                <% end %>
                <% if diagnosis.sintomas_sensacion.present? %>
                  <div class="detail-item"><strong>Sensación de Comida Atascada:</strong> <%= diagnosis.sintomas_sensacion %></div>
                <% end %>
                <% if diagnosis.sintomas_dolor.present? %>
                  <div class="detail-item"><strong>Dolor al Tragar:</strong> <%= diagnosis.sintomas_dolor %></div>
                <% end %>
                <% if diagnosis.sintomas_frecuencia.present? %>
                  <div class="detail-item"><strong>Frecuencia de Problemas para Tragar:</strong> <%= diagnosis.sintomas_frecuencia %></div>
                <% end %>
                <% if diagnosis.sintomas_evita_alimentos.present? %>
                  <div class="detail-item"><strong>Evita Alimentos:</strong> <%= diagnosis.sintomas_evita_alimentos %></div>
                <% end %>
                <% if diagnosis.sintomas_cansancio.present? %>
                  <div class="detail-item"><strong>Cansancio al Comer o Beber:</strong> <%= diagnosis.sintomas_cansancio %></div>
                <% end %>
                <% if diagnosis.sintomas_tiempo.present? %>
                  <div class="detail-item"><strong>Tiempo para Almorzar:</strong> <%= diagnosis.sintomas_tiempo %></div>
                <% end %>
                <% if diagnosis.sintomas_nuevo.present? %>
                  <div class="detail-item"><strong>Nuevos Síntomas:</strong> <%= diagnosis.sintomas_nuevo %></div>
                <% end %>

                <% if diagnosis.guss_scale.present? %>
                  <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#gussModal<%= index %>">
                    Ver Detalles de la Escala GUSS
                  </button>

                  <!-- Modal para GUSS -->
                  <div class="modal fade" id="gussModal<%= index %>" tabindex="-1" aria-labelledby="gussModalLabel<%= index %>" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="gussModalLabel<%= index %>">Detalles de la Escala GUSS</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                        <% total_score = diagnosis.guss_scale.preliminary_score.to_i +
                        diagnosis.guss_scale.semi_solids_score.to_i +
                        diagnosis.guss_scale.liquids_score.to_i +
                        diagnosis.guss_scale.solids_score.to_i %>
                          
                          <p>Puntaje Total: <%= total_score %></p>

                          <% case total_score %>
                          <% when 0..9 %>
                            <p>Resultados: Fracaso en investigación preliminar</p>
                            <p>Código: Disfagia con alto riesgo</p>
                            <p>Recomendaciones: 
                            <ul>
                              <li>Nada por boca.</li>
                              <li>Evaluaciones funcionales de la deglución (FEES, VFES).</li>
                              <li>Derivar a fonoaudiólogo.</li>
                              <li>Suplemento con Sonda Nasogástrica o Alimentación Parenteral.</li>
                            </ul>
                          <% when 10..14 %>
                            <p>Resultados: Éxito al deglutir semisólidos</p>
                            <p>Código: Disfagia moderada con riesgo de aspiración</p>
                            <p>Recomendaciones: La dieta para la disfagia comienza con:</p>
                            <ul>
                              <li>Textura semisólidas, espesar todos los líquidos.</li>
                              <li>Todos los líquidos deben ser espesados.</li>
                              <li>Las píldoras deben molerse y mezclarse con líquido espeso.</li>
                              <li>Ninguna medicación líquida.</li>
                              <li>Evaluaciones funcionales de la Deglución (FEES, VFES).</li>
                              <li>Derivar a fonoaudiólogo.</li>
                              <li>Suplemento con Sonda Nasogástrica o Alimentación Parenteral.</li>
                            </ul>
                          <% when 15..19 %>
                            <p>Resultados: Éxito con texturas semisólidas y líquido, fracaso con sólida</p>
                            <p>Código: Disfagia leve con bajo riesgo de aspiración</p>
                            <p>Recomendaciones:</p>
                            <ul>
                              <li>Dieta para disfagia, líquidos muy lentamente.</li>
                              <li>Líquidos muy lentamente - un sorbo a la vez.</li>
                              <li>Evaluaciones funcional de la Deglución, tales como Evaluación Fibroscópica de la Deglución (FEES) ó Evaluación Videofluoroscópica de la Deglución (VFES).</li>
                              <li>Derivar a fonoaudiólogo.</li>
                            </ul>
                          <% when 20 %>
                            <p>Resultados: Éxito con semisólidos, líquidos y sólidos</p>
                            <p>Código: Leve sin disfagia, mínimo riesgo de aspiración</p>
                            <p>Recomendaciones: </p>
                            <ul>
                              <li>Dieta normal.</li>
                              <li>Líquidos regulares (la primera vez bajo la supervisión de un Fonoaudiólogo o una Enfermera entrenada).</li>
                            </ul>
                          <% else %>
                            <p>Resultados no disponibles para el puntaje proporcionado</p>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <a href="<%= patients_path %>" class="btn btn-custom">Volver</a>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



