<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Paciente</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #256490;
      color: #FFFFFF;
      font-family: 'Arial', sans-serif;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
    }
    .container {
      margin-top: 50px;
      width: 80%;
      background-color: #FFFFFF;
      color: #256490;
      padding: 20px;
      border-radius: 10px;
    }
    .header {
      font-size: 2.5em;
      margin-bottom: 30px;
    }
    .detail-item {
      margin-bottom: 10px;
    }
    .btn-custom {
      background-color: #256490;
      color: #FFFFFF;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1em;
      margin-bottom: 10px;
    }
    .level-text {
      color: #800080; /* Color lila */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">Detalles del Paciente</div>
    <div class="detail-item"><strong>Nombre:</strong> <%= @patient.name %></div>
    <div class="detail-item"><strong>RUT:</strong> <%= @patient.rut %></div>
    <div class="detail-item"><strong>Fecha de Nacimiento:</strong> <%= @patient.birthdate %></div>
    <div class="detail-item"><strong>Sexo:</strong> <%= @patient.sex %></div>
    <div class="detail-item"><strong>Email:</strong> <%= @patient.email %></div>
    
    <h4>Diagnósticos</h4>
    <div class="diagnosis-buttons">
      <% @diagnoses.each_with_index do |diagnosis, index| %>
        <!-- Botón para abrir el modal -->
        <button type="button" class="btn btn-custom diagnosis-btn" data-toggle="modal" data-target="#diagnosisModal<%= index %>">
          Diagnóstico - <%= diagnosis.date %>
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="diagnosisModal<%= index %>" tabindex="-1" aria-labelledby="diagnosisModalLabel<%= index %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="diagnosisModalLabel<%= index %>">Detalles del Diagnóstico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="detail-item"><strong>Fecha:</strong> <%= diagnosis.date %></div>
                <% if diagnosis.levels.present? %>
                  <% diagnosis.levels.each do |level| %>
                    <div class="detail-item level-text"><strong>Escala:</strong> <%= level.escala %></div>
                    <div class="detail-item level-text"><strong>Severidad:</strong> <%= level.severidad %></div>
                  <% end %>
                <% end %>

                <% if diagnosis.description.present? %>
                  <div class="detail-item"><strong>Descripción:</strong> <%= diagnosis.description %></div>
                <% end %>

                <% if diagnosis.historia_desde.present? %>
                  <div class="detail-item"><strong>¿Desde cuándo ha tenido problemas para tragar?:</strong> <%= diagnosis.historia_desde %></div>
                <% end %>
                <% if diagnosis.perdida_peso.present? %>
                  <div class="detail-item"><strong>¿Ha notado pérdida de peso no intencional?:</strong> <%= diagnosis.perdida_peso %></div>
                <% end %>
                <% if diagnosis.historia_condicion.present? %>
                  <div class="detail-item"><strong>¿Tiene alguna condición médica que pueda estar relacionada?:</strong> <%= diagnosis.historia_condicion %></div>
                <% end %>
                <% if diagnosis.historia_cirugia.present? %>
                  <div class="detail-item"><strong>¿Ha tenido cirugías recientes?:</strong> <%= diagnosis.historia_cirugia %></div>
                <% end %>
                <% if diagnosis.sintomas_episodios.present? %>
                  <div class="detail-item"><strong>¿Ha tenido episodios de atragantamiento o tos al comer o beber?:</strong> <%= diagnosis.sintomas_episodios %></div>
                <% end %>
                <% if diagnosis.sintomas_dificultad.present? %>
                  <div class="detail-item"><strong>¿Tiene dificultad para tragar líquidos, sólidos o ambos?:</strong> <%= diagnosis.sintomas_dificultad %></div>
                <% end %>
                <% if diagnosis.sintomas_sensacion.present? %>
                  <div class="detail-item"><strong>¿Tiene la sensación de que la comida se le queda atascada en la garganta o el pecho?:</strong> <%= diagnosis.sintomas_sensacion %></div>
                <% end %>
                <% if diagnosis.sintomas_dolor.present? %>
                  <div class="detail-item"><strong>¿Experimenta dolor al tragar?:</strong> <%= diagnosis.sintomas_dolor %></div>
                <% end %>
                <% if diagnosis.sintomas_frecuencia.present? %>
                  <div class="detail-item"><strong>¿Qué tan frecuente tiene problemas para tragar?:</strong> <%= diagnosis.sintomas_frecuencia %></div>
                <% end %>
                <% if diagnosis.sintomas_evita_alimentos.present? %>
                  <div class="detail-item"><strong>¿Evita ciertos alimentos debido a la dificultad para tragar?:</strong> <%= diagnosis.sintomas_evita_alimentos %></div>
                <% end %>
                <% if diagnosis.sintomas_cansancio.present? %>
                  <div class="detail-item"><strong>¿Se cansa cuando está comiendo o bebiendo?:</strong> <%= diagnosis.sintomas_cansancio %></div>
                <% end %>

                <% if diagnosis.sintomas_tiempo.present? %>
                  <div class="detail-item"><strong>¿Cuánto tiempo se demora almorzando?:</strong> <%= diagnosis.sintomas_tiempo %></div>
                <% end %>

                <% if diagnosis.sintomas_nuevo.present? %>
                  <div class="detail-item"><strong>¿Ha sentido algo nuevo que no le ocurría antes?:</strong> <%= diagnosis.sintomas_nuevo %></div>
                <% end %>

                <% if diagnosis.guss_scale.present? %>
                  <div class="guss-details">
                    <% total_score = diagnosis.guss_scale.total_score%>
                    
                    <h5>Detalles de la Escala GUSS</h5>
                    <p>Puntaje Total: <%= total_score %></p>

                    <% case total_score %>
                    <% when 0..9 %>
                      <p>Resultados: Fracaso en investigación preliminar</p>
                      <p>Código: Disfagia con alto riesgo</p>
                      <p>Recomendaciones: La dieta para la disfagia comienza con:</p>
                      <ul>
                        <li>Sonda Nasogástrica o Alimentación Parenteral.</li>
                        <li>Evaluaciones funcionales de la Deglución (FEES, VFES).</li>
                        <li>Derivar a fonoaudiólogo.</li>
                      </ul>
                    <% when 10..14 %>
                      <p>Resultados: Éxito al deglutir semisólidos</p>
                      <p>Código: Disfagia moderada con riesgo de aspiración</p>
                      <p>Recomendaciones: La dieta para la disfagia comienza con:</p>
                      <ul>
                        <li>Textura semisólidas, espesar todos los líquidos.</li>
                        <li>Todos los líquidos deben ser espesados.</li>
                        <li>Las píldoras deben molerse y mezclarse con líquido espeso.</li>
                        <li>Ninguna medicación líquida.</li>
                        <li>Evaluaciones funcionales de la Deglución (FEES, VFES).</li>
                        <li>Derivar a fonoaudiólogo.</li>
                        <li>Suplemento con Sonda Nasogástrica o Alimentación Parenteral.</li>
                      </ul>
                    <% when 15..19 %>
                      <p>Resultados: Éxito con texturas semisólidas y líquido, fracaso con sólida</p>
                      <p>Código: Disfagia leve con bajo riesgo de aspiración</p>
                      <p>Recomendaciones:</p>
                      <ul>
                        <li>Dieta para disfagia, líquidos muy lentamente.</li>
                        <li>Líquidos muy lentamente - un sorbo a la vez.</li>
                        <li>Evaluaciones funcional de la Deglución, tales como Evaluación Fibroscópica de la Deglución (FEES) ó Evaluación Videofluoroscópica de la Deglución (VFES).</li>
                        <li>Derivar a fonoaudiólogo.</li>
                      </ul>
                    <% when 20 %>
                      <p>Resultados: Éxito con semisólidos, líquidos y sólidos</p>
                      <p>Código: Leve sin disfagia, mínimo riesgo de aspiración</p>
                      <p>Recomendaciones: </p>
                      <ul>
                        <li>Dieta normal.</li>
                        <li>Líquidos regulares (la primera vez bajo la supervisión de un Fonoaudiólogo o una Enfermera entrenada).</li>
                      </ul>
                    <% else %>
                      <p>Resultados no disponibles para el puntaje proporcionado</p>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if @has_diagnosis_with_levels %>
      <!-- Botón para abrir el modal del gráfico -->
      <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#chartModal">
        Ver Evolución de Diagnósticos
      </button>

      <!-- Modal del gráfico -->
      <div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="chartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="chartModalLabel">Evolución de Diagnósticos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <canvas id="evolutionChart"></canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
     <% end %>
  <div class="back-button">
  <%= link_to 'Volver', mispacientes_path, class: 'btn btn-custom' %>
  </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      $('#chartModal').on('shown.bs.modal', function() {
        // Crear el gráfico cuando se muestre el modal
        if (!$('#evolutionChart').hasClass('initialized')) {
          $('#evolutionChart').addClass('initialized');

          const ctx = document.getElementById('evolutionChart').getContext('2d');
        
          // Obtener las etiquetas y los datos desde el controlador
          const labels = <%= @scales.to_json.html_safe %>;
          const datasets = [];

          <% @diagnosis_data.each_with_index do |diagnosis, index| %>
            datasets.push({
              label: "Diagnóstico - <%= diagnosis[:date] %>",
              data: <%= diagnosis[:levels].to_json.html_safe %>,
              backgroundColor: 'rgba(37, 100, 144, 0.6)',
              borderColor: 'rgba(37, 100, 144, 1)',
              borderWidth: 1
            });
          <% end %>

          const evolutionChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: datasets
            },
            options: {
              scales: {
                x: {
                  title: {
                    display: true,
                    text: 'Escalas'
                  }
                },
                y: {
                  beginAtZero: true,
                  title: {
                    display: true,
                    text: 'Nivel de Severidad'
                  }
                }
              },
              tooltips: {
                callbacks: {
                  label: function(tooltipItem, data) {
                    var label = data.datasets[tooltipItem.datasetIndex].label || '';
                    if (label) {
                      label += ': ';
                    }
                    label += tooltipItem.yLabel;
                    return label;
                  }
                }
              }
            }
          });
        }
      });
    });
  </script>
</body>
</html>
