<%= form_with url: especificar_path, method: :post do |form| %>
  <%= hidden_field_tag :tabla_seleccionada, @tabla_seleccionada %>
  <%= hidden_field_tag :nivel_seleccionado, @nivel_seleccionado %>
  <%= hidden_field_tag :tabla_destino, @tabla_destino %>
  <%= hidden_field_tag :numeros_niveles_posibles, @numeros_niveles_posibles %>

  <% @faltantes.each do |caracteristica| %>
    <div class="field">
      <%= label_tag caracteristica, caracteristica.humanize %>
      <%= text_field_tag caracteristica %>
    </div>
  <% end %>

  <div class="actions">
    <%= submit_tag "Enviar" %>
  </div>
<% end %>

