<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Degluconversor Resultado</title>
  <style>
    body {
      background-color: #FFFFFF;
      margin: 0;
      font-family: 'Arial', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .header {
      background-color: #256490;
      color: white;
      padding: 1em;
      font-size: 2.5em;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 100%;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999; /* asegura que esté por encima de todo */
    }

   
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;     
    }


    .box {
      display: flex;
      align-items: center;
      width: 200px;
      height: 60px;
      font-size: 0.8em;
      margin: 2px 0;
      border-radius: 1.2em;
      color: white;
      padding: 10px 10px 10px 60px;
      position: relative;
      box-sizing: border-box;
    }

    .equal-sign {
      font-size: 5em;
      color: #7D9DB7;
      font-weight: bold;
      margin: 10px 0;
      align-items: center;
      
    }

    .equal-sign-2 {
      font-size: 1em;
      color: #7D9DB7;
      font-weight: bold;
      margin: 10px 0;
      align-items: center;
      
    }


    .container-inicial {
      background-color: #A8BDBC;
      margin-top: 150px;
    }

    .container-final {
      background-color: #B5B0C9;
    }

    .container-final-opciones {
      background-color: #B5B0C9;
      margin: 5px 0;

    }

    .box::before {
      content: attr(data-number);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #256490;
      color: #FFFFFF;
      font-weight: bold;
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
    }

    .box div {
      font-size: 1.8em;
    }


    input[type="submit"], .submit-button {
      margin-top: 20px;
      font-size: 1.2em;
      color: #256490;
      text-align: center;
    }



  </style>
</head>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="header">Resultado de Conversión</div>
  <div class="container">
    <div class="box container-inicial" data-number="<%= @nivel_seleccionado %>">
      <div><%= @tabla_seleccionada.capitalize %></div>
    </div>

    <% if @resultado.present? %>
      <div class="equal-sign">=</div>
      <div class="box container-final" data-number="<%= @nivel.first[:nivel] %>">
        <div><%= @tabla_destino.capitalize %></div>
      </div>
      <form action="/enviar" method="post">
        <input type="hidden" name="tabla_seleccionada" value="<%= @tabla_seleccionada %>">
        <input type="hidden" name="nivel_seleccionado" value="<%= @nivel_seleccionado %>">
        <input type="hidden" name="tabla_destino" value="<%= @tabla_destino %>">
        <input type="hidden" name="nivel" value="<%= @nivel[0][:nivel] %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" class="submit-button" value='ⓘ Ver detalles'>
      </form>
    <% else %>
      <div class="equal-sign-2">Varios Niveles Posibles, los siguientes niveles coinciden con la vía de alimentación:</div>
      <% @niveles_posibles.each do |nivel| %>
        <div class="box container-final-opciones" data-number="<%= nivel[:nivel] %>">
          <div><%= @tabla_destino.capitalize %></div>
        </div>
      <% end %>
      <% @numeros_niveles_posibles = @niveles_posibles.map { |nivel| nivel[:nivel] } %>
      <form action="/especificar" method="post">
        <input type="hidden" name="tabla_seleccionada" value="<%= @tabla_seleccionada %>">
        <input type="hidden" name="nivel_seleccionado" value="<%= @nivel_seleccionado %>">
        <input type="hidden" name="tabla_destino" value="<%= @tabla_destino %>">
        <input type="hidden" name="numeros_niveles_posibles" value="<%= @numeros_niveles_posibles %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" class="submit-button" value='+ Especificar diagnóstico'>
      </form>
    <% end %>
  </div>
</body>
</html>
