<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Degluconversor Tablas</title>
  <style>
    body {
      background-color: #709795;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
  
    .header {
      background-color: #256490;
      color: white;
      padding: 1em;
      font-size: 2.5em;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 100%;
      text-align: center;
    }

    .container {
      display: flex;
      flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
      justify-content: space-around; /* Distribuye los elementos horizontalmente */
      align-items: center; /* Alinea los elementos verticalmente */
      padding: 20px;
    }

    .square {
      height: auto; 
      background-color: white;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      font-size: 1.8em; 
      color: #256490;
      border-radius: 20px;
      width: 40%; /* Ajusta el ancho de cada cuadrado */
      position: relative; /* Permite posicionar el círculo */
    }
    
    .circle {
      position: absolute; /* Posiciona el círculo en relación al cuadrado */
      left: -5px; /* Ajusta la posición horizontal del círculo */
      width: 80px; /* Ajusta el ancho del círculo */
      height: 80px; /* Ajusta la altura del círculo */
      background-color: #B5B0C9; /* Color del círculo */
      color: white; /* Color del texto dentro del círculo */
      border-radius: 50%; /* Hace que el círculo tenga bordes redondeados */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em; /* Tamaño del texto dentro del círculo */
    }
    
    .text {
      height: auto; 
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding: 10px;
      font-size: 1em; 
      color: white;
      width: 40% ; /* Ajusta el ancho del texto */
    }
  </style>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="header">Conversión de escalas de severidad</div>
  <div class="container">
    <div class="square">
      <div class="circle"><%= @nivel_seleccionado %></div>
      <%= @tabla_seleccionada.capitalize %>
    </div>
    <div class="square">
      <div class="circle"><%= @nivel %></div>
      <%= @tabla_destino.capitalize %>
    </div>
    <div class="text"><%= @descripcion_seleccionado %></div>
    <div class="text"><%= @descripcion_destino %></div>
  </div>
</body>
</html>
