<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Degluconversor Tablas</title>
  <style>
    body {
      background-color: white;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
  
    .header {
      background-color: #256490;
      color: white;
      padding: 1.6em;
      font-size: 2.5em;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 100%;
      text-align: center;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; 
      padding: 20px;
    }

    .square {
      height: auto; 
      background-color: #A8BDBC;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      font-size: 1.8em; 
      color: white;
      border-radius: 20px;
      width: 40%;
      position: relative; 
    }
    
    .circle {
      position: absolute;
      left: -5px;
      width: 80px; 
      height: 80px; 
      background-color: #256490;
      color: white; 
      border-radius: 50%; 
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
    }
    
    .text {
      height: auto; 
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding: 10px;
      font-size: 1em; 
      color: #256490;
      width: 40% ; 
    }
  </style>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="header">Conversión de escalas de severidad</div>
  <div class="container">
    <div class="square">
      <div class="circle"><%= @nivel_seleccionado %></div>
      <%= @tabla_seleccionada.capitalize %>
    </div>
    <div class="square">
      <div class="circle"><%= @nivel %></div>
      <%= @tabla_destino.capitalize %>
    </div>
    <div class="text"><%= @descripcion_seleccionado %></div>
    <div class="text"><%= @descripcion_destino %></div>
  </div>
</body>
</html>
