<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <style>
    body {
      background-color: #FFFFFF;
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
    .container {
      text-align: center;
      width: 50%;
      max-width: 500px;
      background-color: #F0F0F0;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: auto;
      margin-top: 200px;
    }
    .form-group { margin-bottom: 15px; }
    .submit-button { 
      padding: 10px 20px; 
      background-color: #709795;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 1em;
      border-radius: 10px;
      width: 100%;
    }
    .header {
      background-color: #256490;
      color: white;
      padding: 1em;
      font-size: 2em;
      margin-bottom: 20px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      width: 100%;
      text-align: center;
    }
    h1 {
      font-size: 1.5em;
      color: #256490;
      margin-bottom: 20px;
    }
    label {
      margin-bottom: 0.5em;
      display: block;
      color: #256490;
      font-size: 1em;
      text-align: left;
    }
    select {
      margin-bottom: 1em;
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 1em;
      border: 2px solid #256490;
      border-radius: 10px;
      box-sizing: border-box;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .degluconversor-header {
      background-color: #256490;
      color: white;
      padding: 1.5em;
      font-size: 2.5em;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 100%;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
    }
  </style>
  <script>
    function updateDestinoOptions() {
      var escalaSeleccionada = document.getElementById("tabla_seleccionada").value;
      var nivelSelect = document.getElementById("nivel_seleccionado");

      var opcionesNiveles = {
        "fils": 10,
        "doss": 7,
        "fois": 7
      };

      nivelSelect.innerHTML = "";
      for (var i = 1; i <= opcionesNiveles[escalaSeleccionada]; i++) {
        var opt = document.createElement("option");
        opt.value = i;
        opt.innerHTML = "Nivel " + i;
        nivelSelect.appendChild(opt);
      }
    }

    document.addEventListener("DOMContentLoaded", function() {
      updateDestinoOptions();
    });
  </script>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="degluconversor-header">Diagnóstico</div>
  <div class="container">
    <h1>Guardar Nivel de Diagnóstico</h1>
    <%= form_with(model: @level, url: patient_diagnosis_levels_path(@patient, @diagnosis), method: :post) do |f| %>
      <div class="form-group">
        <%= f.label :escala, "Escala" %>
        <%= f.select :escala, options_for_select([["FILS", "fils"], ["DOSS", "doss"], ["FOIS", "fois"]]), {}, { id: "tabla_seleccionada", onchange: "updateDestinoOptions()" } %>
      </div>
      <div class="form-group">
        <%= f.label :severidad, "Nivel" %>
        <%= f.select :severidad, [], {}, { id: "nivel_seleccionado" } %>
      </div>
      <div class="form-group">
        <%= f.submit "Guardar", class: "submit-button" %>
      </div>
    <% end %>
  </div>
</body>
</html>

